<div class="matchmaking">
    <h2>Emparejamiento</h2>

    <!-- Botones de opciones -->
    <div class="botones">
        <button class="boton-juego" (click)="jugarConAmigos()">
            <img [src]="NinosJugandoALaOca" alt="Tablero del Juego de la Oca">
            <span>Jugar con amigos</span>
        </button>
        <button class="boton-juego" (click)="jugarConBot()">
            <img [src]="ROB" alt="Tablero del Juego de la Oca">
            <span>Jugar con Bot</span>
        </button>
        <button class="boton-juego" (click)="jugarAleatorio()">
            <img [src]="tablero" alt="Tablero del Juego de la Oca">
            <span>Jugar aleatorio</span>
        </button>
        <button [routerLink]="'/menu'" class="boton-volver">Volver al menú</button>
    </div>

    <!-- Estado de la búsqueda o partida -->
    <div *ngIf="estadoPartida !== 'inactivo'" class="estado-partida">
        <div *ngIf="estadoPartida === 'buscando'">
            <p>Buscando oponente...</p>
            <button (click)="cancelarBusqueda()">Cancelar búsqueda</button>
        </div>

        <div *ngIf="estadoPartida === 'partidaEnCurso'">
            <p>Partida en curso contra {{ oponente?.UsuarioApodo || 'un oponente' }}.</p>
            <button (click)="abandonarPartida()">Abandonar partida</button>
        </div>

        <div *ngIf="estadoPartida === 'partidaConBot'">
            <p>Jugando contra un bot.</p>
            <button (click)="abandonarPartida()">Abandonar partida</button>
        </div>
    </div>
</div>