<div class="matchmaking">
    <h2>Emparejamiento</h2>

    <!-- Estado de la partida -->
    <div *ngIf="estadoPartida === 'buscando'">
        <p>Buscando oponente...</p>
        <button (click)="cancelarBusqueda()">Cancelar búsqueda</button>
    </div>

    <div *ngIf="estadoPartida === 'invitacionPendiente'">
        <p>Esperando a que {{ amigoInvitado?.UsuarioApodo }} acepte la invitación...</p>
    </div>

    <div *ngIf="estadoPartida === 'partidaEnCurso'">
        <p>Partida en curso contra {{ oponente?.UsuarioApodo }}.</p>
        <button (click)="abandonarPartida()">Abandonar partida</button>
    </div>

    <div *ngIf="estadoPartida === 'partidaConBot'">
        <p>Jugando contra un bot.</p>
        <button (click)="abandonarPartida()">Abandonar partida</button>
    </div>

    <!-- Botones para volver al menú -->
    <button [routerLink]="'/menu'" class="boton-volver">Volver al menú</button>
</div>