<!--Añadir un iconito como de una puerta para que te lleve de vuelta al main-->
<div class="general">
    <div class="cuadradoFuera">
        <div class="cajita">
            <h1 id="iniciarSesion">
                <u>INICIAR SESIÓN</u>
            </h1>
        </div>
        <br>
        <!-- <form (ngSubmit)="submit()" -->
        <div class="inputs">
            <input type="nombre" id="email" [(ngModel)]="emailoapodo" name="email" required placeholder="Introduce email o apodo">
        </div>
        <br>
    
        <div class="inputs">
            <input type="password"id="password" [(ngModel)]="contrasena" name="password" placeholder="Introduce contraseña">
        </div>
        <br>
    
        <button type="submit" id="button">CONFIRMAR</button>
    
        <p id="llevarRegistro">
            Si no tienes una cuenta, <b><u><a [routerLink]="'/register'">Registrate aquí</a></u></b>
        </p>
    </div>
</div>
