<div id="general">
    <div id="cuadradoFuera">
        <div id="cajita">
            <h1 id="iniciarSesion">
                <u>INICIAR SESIÓN</u>
            </h1>
        </div>
        <br>
        <div class="inputs">
            <input type="nombre" placeholder="Introduce email o apodo">
        </div>
        <br>
    
        <div class="inputs">
            <input type="password" placeholder="Introduce contraseña">
        </div>
        <br>
    
        <button type="submit" id="button">CONFIRMAR</button>
    
        <p id="llevarRegistro">
            Si no tienes una cuenta, <b><u>Registrate aquí</u></b>
        </p>
    </div>
</div>
