<div class="game-container">
  <!-- Tablero -->
  <div class="board">
    <div *ngFor="let cell of cells" class="cell" 
         [class.cell-oca]="cell.type === 'Oca'"
         [class.cell-puente]="cell.type === 'Puente'"
         [class.cell-posada]="cell.type === 'Posada'"
         [class.cell-muerte]="cell.type === 'Muerte'"
         [style.left.px]="getCellPosition(cell.number).x"
         [style.top.px]="getCellPosition(cell.number).y">
      <div class="cell-number">{{ cell.number }}</div>
      <div class="players">
        <span *ngFor="let player of getPlayersInCell(cell.number)" class="player" [style.background-color]="player.color">
            {{ player.name }}
        </span>
    </div>
    </div>
  </div>

  <!-- Controles del juego -->
  <div class="controls">
    <button (click)="rollDice()" [disabled]="!isCurrentPlayer">Lanzar Dado</button>
    <div *ngIf="diceResult !== null">
      <h2>Resultado del Dado</h2>
      <p>{{ diceResult }}</p>
  </div>
  </div>
</div>

<div *ngIf="players">
  <h2>Jugadores</h2>
  <ul>
      <li *ngFor="let player of players">
          {{ player.name }} - Posición: {{ player.position }}
      </li>
  </ul>
</div>

<div *ngIf="currentPlayer">
  <h2>Jugador Actual</h2>
  <p>{{ currentPlayer.name }} - Posición: {{ currentPlayer.position }}</p>
</div>