.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #F4E19C;
}

.menu {
  place-items: center;
}

.perfil {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DAC694;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 30%;
}

.perfil-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.perfil-apodo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3F2E15;
}

.cerrar-sesion-btn {
  padding: 10px 20px;
  background-color: #B63A3A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.perfilButton {
  padding: 10px 20px;
  background-color: #25c309;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.botones {
  display: flex;
  align-items: center;
}

.cerrar-sesion-btn:hover {
  background-color: #a90303;
}

.perfilButton:hover {
  background-color: #047008;
}

.elementosMenu {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 20px auto; 
  padding: 20px; 
  max-width: 600px; 
  width: 100%;
  background-color: #DAC694;
  grid-column: 2 / span 1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.lista {
  border-radius: 10px;
  border: 1px solid rgb(229, 161, 3);
  background-color: rgb(130, 74, 25);
  width: 100%;  
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.titulo {
  font-weight: bold;
  font-size:larger;
  color: rgb(159, 9, 9)
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(229, 161, 3);
  background-color: rgb(130, 74, 25);
  font-size: 16px;
  margin-bottom: 10px;
  color: whitesmoke;
}

input[type="text"]:focus-visible {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(229, 161, 3);
  background-color: rgb(130, 74, 25);
  font-size: 16px;
  margin-bottom: 10px;
  color: whitesmoke;
  outline: none;
}

.botonesListaUsuario {
  background-color: blueviolet;
  color: whitesmoke;
}


@media (max-width: 768px) {
  .menu-grid {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto auto; 
  }
  
  .botones button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .botones button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
