<div class="menu">
  <div class="perfil">
    <div>
      <img [src]="usuarioFotoPerfil" alt="Foto de Perfil" class="perfil-foto">
      <br>
      <span class="perfil-apodo">{{ usuarioApodo }}</span>
    </div>
    <br>
    <div class="botones">
      <button [routerLink]="['/perfil', usuarioId]" class="perfilButton">PERFIL</button>
      <button (click)="logout()" class="cerrar-sesion-btn">CERRAR SESIÓN</button>
    </div>
  </div>

  <div class="elementosMenu">
    <p class="titulo"><i>SERVIDORES</i></p>
    <p>Jugadores conectados: {{ onlineUserIds.size }}</p>
    <p>Partidas en juego: 0</p>
    <p>Jugador en partida: 0</p>
  </div>

  <br>

  <div class="elementosMenu">
    <p class="titulo">Solicitudes de Amistad</p>
    <div *ngFor="let solicitud of solicitudesPendientes" class="solicitud-container">
      <span>{{ solicitud.usuarioApodo }} quiere ser tu amigo</span>&nbsp;
      <div class="botones-solicitud">
        <button class="perfilButton" (click)="aceptarSolicitud(solicitud)"><b>Aceptar</b></button>
        <button class="cerrar-sesion-btn" (click)="rechazarSolicitud(solicitud)"><b>Rechazar</b></button>
      </div>
    </div>
  </div>

  <br>

  <div class="elementosMenu">
    <p class="titulo">Solicitudes de Partidas</p>
  </div>
  

  <br>

  <div class="elementosMenu">
    <p class="titulo">Amigos</p>
    <input type="text" class="lista" [(ngModel)]="busquedaAmigos" placeholder="Buscar amigos..." />
    <div class="lista" *ngFor="let amigo of amigosFiltrados">
      <img *ngIf="amigo.UsuarioFotoPerfil" [src]="amigo.UsuarioFotoPerfil" alt="Foto de perfil" width="100"> 
        <p><strong> {{ amigo.UsuarioApodo || 'Sin apodo' }} </strong></p>&nbsp;
        <p *ngIf="isUserOnline(amigo.UsuarioId)" class="estado-conectado">🟢 Conectado 🟢</p>
      <p *ngIf="!isUserOnline(amigo.UsuarioId)" class="estado-desconectado">🔴 Desconectado 🔴</p>
      <button [routerLink]="['/perfil', amigo.UsuarioId]">Ver perfil</button>&nbsp;
      <button (click)="invitarAPartida(amigo.UsuarioId)" [disabled]="amigo.UsuarioEstado !== 'Conectado'">Invitar a partida</button>&nbsp;
    </div>
  </div>


  <br>

  <div class="elementosMenu">
    <p class="titulo">Buscar Usuarios</p>
    <input type="text" [(ngModel)]="terminoBusqueda" placeholder="Buscar usuarios..." />
    <button (click)="buscarUsuarios()">Buscar</button>
    <br>
    <div *ngFor="let usuario of usuariosFiltrados">
      <img [src]="usuario.UsuarioFotoPerfil" alt="Foto de perfil" width="50" height="50">&nbsp;
      <span>{{ usuario.UsuarioApodo }}</span>&nbsp;
      <button class="botonesListaUsuario" [routerLink]="['/perfil', usuario.UsuarioId]">Ir al Perfil</button>&nbsp;
      <button (click)="enviarSolicitud(usuario.UsuarioId)">Enviar Solicitud</button>
    </div>
  </div>
  <button  [routerLink]="'/matchmaking'">Jugar</button>
  <button  [routerLink]="'/'">Volver</button>
</div>