
.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #F4E19C; 

}

.menu {
  place-items: center;
}

.perfil {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #DAC694;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 30%; 
}

.perfil-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.perfil-apodo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3F2E15;
}

.cerrar-sesion-btn {
  padding: 10px 20px;
  background-color: #B63A3A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.cerrar-sesion-btn:hover {
  background-color: #c82333;
}

.usuarios {
  grid-column: 1 / span 2; 
  background-color: #DAC694;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 30%; 
  width: 80%; 
  height: 20%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.solicitudes {
  grid-column: 1 / span 2; 
  background-color: #DAC694;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 30%; 
  width: 80%; 
  height: 20%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.amigos {
  grid-column: 1 / span 2; 
  background-color: #DAC694;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 30%; 
  width: 80%; 
  height: 20%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

h2 {
  margin-bottom: 10px;
  color: #B63A3A; 
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #7E612C;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  background-color: #F9F9F9;
  border: 1px solid #7E612C;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #E9E9E9;
}

@media (max-width: 768px) {
  .menu-grid {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto auto; 
  }
  
  .botones button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .botones button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
