<div class="menu">
  <div class="perfil">
    <div>
      <img [src]="usuarioFotoPerfil" alt="Foto de Perfil" class="perfil-foto">
      <br>
      <span class="perfil-apodo">{{ usuarioApodo }}</span>
    </div>
    <br>
    <div class="botones">
      <button [routerLink]="'/perfil'" class="perfilButton">PERFIL</button>
      <button (click)="logout()" class="cerrar-sesion-btn">CERRAR SESIÓN</button>
    </div>
  </div>

  <br>

  <div class="elementosMenu">
    <h2>Solicitudes de Amistad</h2>
    <div *ngFor="let solicitud of solicitudesPendientes">
      <span>{{ solicitud.usuario.UsuarioApodo }}</span>
      <button (click)="aceptarSolicitud(solicitud.amistad.AmistadId)">Aceptar</button>
      <button (click)="rechazarSolicitud(solicitud.amistad.AmistadId)">Rechazar</button>
    </div>
  </div>

  <br>

  <div class="elementosMenu">
    <h2>Solicitudes de Partidas</h2>
  </div>

  <br>

  <div class="elementosMenu">
    <h2>Amigos</h2>
    <input type="text" class="lista" [(ngModel)]="busquedaAmigos" placeholder="Buscar amigos..." />
    <div class="lista" *ngFor="let amigo of amigosFiltrados">
      <img *ngIf="amigo.UsuarioFotoPerfil" [src]="getFotoPerfilUrl(amigo.UsuarioFotoPerfil)" alt="Foto de perfil" width="100"> 
      <p><strong> {{ amigo.UsuarioApodo || 'Sin apodo' }} </strong></p>
    </div>
  </div>

  <br>

  <div class="elementosMenu">
    <h2>Buscar Usuarios</h2>
    <input type="text" [(ngModel)]="terminoBusqueda" placeholder="Buscar usuarios..." />
    <button (click)="buscarUsuarios()">Buscar</button>
    <br>
    <div *ngFor="let usuario of usuariosFiltrados">
      <img [src]="getFotoPerfilUrl(usuario.UsuarioFotoPerfil)" alt="Foto de perfil" width="100">
      <span>{{ usuario.UsuarioApodo }}</span>
    </div>
  </div>
</div>
<button [routerLink]="'/matchmaking'" class="perfilButton">JUGAR</button>
