<div class="general">
    <div class="cuadradoFuera">
        <div class="cajita">
            <h1 id="registrarse">
                <u>REGÍSTRATE</u>
            </h1>
        </div>

        <br>

        <form (ngSubmit)="onRegister()">
            <input type="text" name="UsuarioApodo" [(ngModel)]="user.UsuarioApodo" placeholder="Apodo" required>
            <input type="email" name="UsuarioEmail" [(ngModel)]="user.UsuarioEmail" placeholder="Email" required>
            <input type="password" name="UsuarioContrasena" [(ngModel)]="user.UsuarioContrasena" placeholder="Contraseña" required>
            <input type="password" name="UsuarioConfirmarContrasena" [(ngModel)]="user.UsuarioConfirmarContrasena" placeholder="Confirmar Contraseña" required>
            <input type="file" (change)="onFileSelected($event)" required>
            <button type="submit">Registrar</button>
          </form>
    
        <p id="llevarRegistro">
            Si ya tienes una cuenta, <b><u><a [routerLink]="'/login'">Inicia Sesión aquí</a></u></b>
        </p>
    </div>
</div>