<div class="general">
    <div class="cuadradoFuera">
        <div class="cajita">
            <h1 id="registrarse">
                <u>REGÍSTRATE</u>
            </h1>
        </div>
        <br>
        <!--JUNTAR SUBMITS-->
        <form [formGroup]="addOrEditForm" (ngSubmit)="submit()">
            <label>
                Apodo:
                <input type="text" formControlName="Apodo"/> 
            </label>
            <label>
                Email:
                <input type="text" formControlName="Email"/> 
            </label>
            <label>
                Password:
                <input type="password" formControlName="Password"/> 
            </label>
            <label>
                Confirmar Password:
                <input type="text" formControlName="ConfirmarPassword"/> 
            </label>
            <label>
                Foto de perfil:
                <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="onFileSelected($event)"/>
            </label>
            <button type="button" (click)="closeDialog(addOrEditDialog)">Cancelar</button>
            <input type="submit" [disabled]="!addOrEditForm.valid" />    
        </form>
        
        <br>
    
        <p id="llevarRegistro">
            Si ya tienes una cuenta, <b><u><a [routerLink]="'/login'">Inicia Sesión aquí</a></u></b>
        </p>
    </div>
</div>